.sidebar {
    overflow: visible !important;
    max-height: none !important;
    opacity: 1;
}

.sidebar__right,
.sidebar__content {
    overflow: visible !important;
    max-height: none !important;
}

.sidebar__image img {
    max-width: 100%;
    height: auto;
    display: block;
}

.badge-container {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    margin-bottom: 1rem;
}

.skill-badge {
    padding: 0.4em 0.8em;
    background-color: #9a8c98;
    color: #c9ada7;
    border-radius: 999px;
    font-size: 0.9rem;
    font-weight: 500;
    display: inline-block;
    transition: background-color 0.3s ease;
}

.masthead,
.masthead__inner-wrap,
.masthead__menu,
.greedy-nav {
    background-color: #22223b !important;
    color: #f2e9e4 !important;
}

.welcome-text {
    display: flex !important;
    flex-direction: column;
    gap: 0.75rem !important;
}

.welcome-text .hello-text,
.welcome-text .name-text {
    line-height: 1 !important;
    font-size: 4rem !important;
    font-weight: bold;
}

.welcome-text .blurb-text {
    margin-left: 5px;
    line-height: 1.5 !important;
}

